<nav>
	<div id="nav-div" class="nav-wrapper">
		<a href="#">VOTING APP</a>
		<ul class="right">
			<li class="<%= active === "home" ? "active" : "" %>"><a href="/">HOME</a></li>
			<li class="<%= active === "login" ? "active" : "" %>"><a href="/login">LOGIN</a></li>
			<li class="<%= active === "signup" ? "active" : "" %>"><a href="/signup">SIGN UP</a></li>
		</ul>
	</div>
</nav>