<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" href="/stylesheets/header.css">
		<link rel="stylesheet" href="/stylesheets/homepage.css">
	</head>
	<header>
		<% if (public) { %>
		<%- include("partials/public-header",{active: "home"}); %>
		<% } else { %>
		<%- include("partials/user-header",{active: "home"}); %>
		<% } %>
	</header>
	<body>
		<div id="homepage-content-div">
			<h3><u>List Of Polls</u></h3>
			<div id="poll-list-div" class="collection">
			<% for (var i=0;i<polls.length;i++) { %>
				<a href="/poll/<%= polls[i]._id %>" target="_blank" class="collection-item list-item"><%= polls[i].pollTitle %></a>
			<% } %>
			</div>
		</div>
	</body>
</html>